.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 112px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo{
  height: 50%;
}

.logo-img{
  height: 90%;
  object-fit: cover;
}
