.title-section{
  margin-top: 112px;
  background-color: var(--main-color);
  text-align: center;
}

.title-section-wrapper{
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.title-first-head{
  margin-top: 50px;
  color: var(--second-text-color);
  font-weight: bold;

  max-width: 80%;
}

.title-second-head{
  margin-top: 17px;
  color: var(--main-text-color);
  font-size: 2rem;
  font-weight: bold;
  line-height: 42.5px;
}

.title-text{
  margin-top: 17px;
  color: var(--second-text-color);
  font-size: 1.5rem;
  line-height: 38px;
}

.title-links{
  display: flex;
  flex-flow: column wrap;
}

.title-link{
  width: 236px;
  height: 68px;

  padding: 16px;

  border: var(--third-text-color) 1px solid;
  border-radius: 30px;

  font-size: 1.5rem;
  font-weight: bold;
}

.playstore-link{
  margin-top: 40px;

  background-color: var(--third-text-color);
  color: white;
}

.appstore-link{
  margin-top: 17px;
  color: var(--third-text-color);
}

.smartphone-img{
  width: 100%;
  object-fit: cover;
}